<head>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href='/assets/style.scss' rel='stylesheet' type='text/css'>
  <title></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="http://www.paulund.co.uk/playground/demo/zeroclipboard-demo/zeroclipboard/ZeroClipboard.js"></script>
  <script src="/assets/jquery.tablesorter.js"></script>


</head>


<div id="header"><%= @message %></div>
<div id ="subheader">Click on Title or Time to sort</div>
<table id="keywords" class="tablesorter" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th><span>Thumbnail</span></th>
      <th class="bi-direction"><span>Title</span></th>
      <th class="bi-direction-1"><span>Time</span></th>
      <th><span>URL</span></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% rowIndex = 0 %>
  <% for video in @data %>

  <% buttonId = "target-to-copy#{rowIndex}" %>
  <% textId = "target-to-copy-text#{rowIndex}" %>
  <% testerId= "test#{rowIndex}" %>

      <tr>

        <td><img src="<%= video["thumbnail"] %>"></td>
        <td ><%= video["title"] %></td>
        <td ><%=DateTime.parse(video['created_time']).to_time.strftime("%m/%d/%y %I:%M %p") %></td>
        <td ><div class="urlFt"><textarea id="<%=textId %>" ><%= word_wrap(video["play_url"]) %></textarea></div></td>
        <td ><div class="button_container"><div class="msg_box">Copied</div><div id="<%=buttonId %>" data-clipboard-target="<%= textId %>" class="buttonFt">Click to Copy</div></div></td></td>

      </tr>

      <script>


          $(document).ready(function()
          {
//              $('#keywords').spin();
              var buttonId = $("#<%= buttonId %>");
              var textId = $("#<%= textId %>");
              var clientTarget = new ZeroClipboard(buttonId, {
                  moviePath: "http://www.paulund.co.uk/playground/demo/zeroclipboard-demo/zeroclipboard/ZeroClipboard.swf",
                  debug: false
              } );

              clientTarget.on( "load", function(clientTarget)
              {
                  $('#flash-loaded').fadeIn();

                  clientTarget.on( "complete", function(clientTarget, args) {
                      clientTarget.setText( args.text );
                      $(this).css('backgroundColor','#ccc');
                      $(this).parent().find('.msg_box').fadeIn();
                      _self = $(this);
                      setTimeout(function(){_self.parent().find('.msg_box').fadeOut();},1500);
                  } );
              } );

          });
      </script>
      <% rowIndex+=1 %>
  <% end %>

  </tbody>
</table>

<script type="text/javascript">
    $(function(){
        $('#keywords').tablesorter( {
                headers: {
            // assign the secound column (we start counting zero)
            0: {
                // disable it by setting the property sorter to false
                sorter: false
            },
            // assign the third column (we start counting zero)
            3: {
                // disable it by setting the property sorter to false
                sorter: false
            },
            4: {
                // disable it by setting the property sorter to false
                sorter: false
            }
        }
        });
    });

</script>

<body>
